HTML, BODY {
	margin: 0px;
	padding: 0px;
	height: 100%;
	background-color: rgb(252,252,252);
}

A {
	text-decoration: none;
	color: black;
	font-weight: bold;
}

H1 {
	font-family: 'Roboto Slab', serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	letter-spacing: initial;
	font-size: 31px;
	color: white;
	padding: 0px;
	margin:	-3px 0px 0px 4px;
}

H2 {
	font-family: 'Roboto Slab', serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 22px;
	letter-spacing: initial;
	padding: 0px;
	margin: 50px 0px 20px 0px;
	color: white;
	clear: both;
}

H3 {
	font-family: 'Roboto Slab', serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: initial;
	margin: 45px 0px 25px 0px;
	padding: 0px;
	color: black;
	clear: both;
}

H3:before {
	content: '\25C9  ';
}

P, UL {
	font-family: 'Arimo', Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 19px;
	letter-spacing: initial;
	line-height: 26px;
	margin: 5px 0px 20px 0px;
	color: rgb(133,133,133);
}

A.pageLink:after {
	content: '\21E3';
}

.caseStudyMenu {
	margin-top: 90px;
}

.caseStudyMenu A {
	display: inline-block;
	vertical-align: top;
	width: 33.3%;
	box-sizing: border-box;
	padding-top: 4vw;
	text-align: center;
}

.caseStudyMenu DIV {
	height: 9vw;
	margin-top: 3.5vw;
	margin-bottom: -3.5vw;
    transition: margin 300ms ease-out;
}

.caseStudyMenu SPAN {
	display: block;
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	letter-spacing: initial;
	font-size: 3vw;
	color: white;
    margin: 2vw auto 4.5vw auto;
    opacity: 0;
    filter: alpha(opacity=0); /* For IE8 and earlier */
    transition: opacity 600ms ease-out;
}

.caseStudyMenu A:hover DIV {
	margin-top: 1vw;
	margin-bottom: -1vw;
}

.caseStudyMenu A:hover SPAN {
	opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

.caseStudyMenu IMG {
	width: 75%;
	border: 0;
}

#optionFontFinder {
	background-color: hsl(0, 0%, 24%); /* font finder grey */
}


#optionFontFinder SPAN {
	color: red;
}

#optionCardpool {
	background-color: rgb(245, 103, 160);
}

#optionRottenTomatoes {
	background-color: rgb(57, 121, 0);
}

#optionRottenTomatoes SPAN {
	color: yellow;
}

#optionCouchSurfing {
	background-color: rgb(208, 83, 0);
}

#optionSideProjects {
	background-color: rgb(65 ,65 ,65);
}

.caseStudyFooter {
	text-align: center;
	padding-bottom: 11vw;
	color: rgb(133,133,133);
}

.caseStudyFooter A {
	color: rgb(133,133,133);
	font-weight: bold;
}

.thanks {
	font-family: 'Roboto Slab', serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 52px;
	font-weight: normal;
	color: black;
	letter-spacing: initial;
	margin: 0;
	padding: 90px 0px 30px 0px;
}

.caseStudyFooter P {
	display: block;
}

.caseStudyFooter P A SPAN {
	color: black;
	border-bottom: 1px dotted rgb(133, 133, 133);
}

.caseStudyFooter .twitterLink:before {
	content: '\00A9';
	letter-spacing: 5px;
}

.caseStudyFooter .twitterLink:hover:before {
	content: '@';
	letter-spacing: initial;
}







/* ======== */
/* Cardpool */
/* ======== */






#cardpoolHeader {
	background-color: rgb(245, 103, 160);
	background: linear-gradient(to bottom, rgb(157, 23, 61) 0%, rgb(245, 103, 160) 40%);
}

#cardpoolHeader > DIV {
	margin: 0px auto;
	max-width: 900px;
	height: 300px;
	box-sizing: border-box;
	padding: 60px 80px 0px 80px;
}

#cardpoolHeader H1 {
	font-weight: normal;
}

#cardpoolHeader .logo SPAN {
	display: block;
	height: 100px;
	margin: 0px;
	padding: 0px;
	font-size: 0px;
	background-image: url('logoCardpool.png');
	background-size: 300px;
	background-repeat: no-repeat;
}

#cardpoolHeader .headerBG {
	height: 390px;
	width: 100%;
	float: right;
	max-width: 900px;
	margin: -300px auto 0px auto;
	padding: 0px;
	background-image: url('cardpoolBG.png');
	background-repeat: no-repeat;
	background-size: 520px;
	background-position: calc(100% + 30px) -70px;
}

#cardpoolStudy {
	max-width: 900px;
	padding: 0px 80px;
	margin: 0px auto;
}

#cardpoolStudy H2 {
	color: rgb(247, 70, 141);
}

#cardpoolStudy .pointer {
	width: 100%;
}

#cardpoolStudy .pointer > DIV {
	margin-left: -5px;
}

#cardpoolStudy .pointer .arrow {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 50px 50px 0 50px;
	border-color: transparent;
	-webkit-transform: rotate(360deg);
	border-top-color: rgb(245, 103, 160);
}

#cardpoolStudy A {
	color: rgb(116, 116, 116);
}

#cardpoolStudy A SPAN {
	border-bottom: 1px dotted rgb(247, 70, 141);
}

#cardpoolStudy A.personas {
	display: block;
	text-align: center;
}

#cardpoolStudy .persona_page {
	display: inline-block;
	vertical-align: top;
	text-align: left;
	border: 1px solid rgb(232,232,232);
	background-color: white;
	width: 45%;
	margin: 2%;
}

#cardpoolStudy .persona_header {
	background-size: 100%;
	height: 7vw;
	padding-left: 8%;
}

#persona_header1 {
	background-image: url('../cardpool/assets/persona_bg_1.jpg');
}

#persona_header2 {
	background-image: url('../cardpool/assets/persona_bg_2.jpg');
}

#cardpoolStudy .persona_header IMG {
	border-radius: 100%;
	width: 25%;
	margin-top: 2.6vw;
	float: left;
}

#cardpoolStudy .persona_header DIV {
	float: left;
    font-family: 'Roboto Slab', serif;
    color: white;
    font-size: 2.8vw;
    margin-top: 1.5vw;
    margin-left: 6%;
}

#cardpoolStudy .persona_content {
	box-sizing: border-box;
	padding-left: 8%;
	padding-top: 5vw;
}

#cardpoolStudy .persona_content > DIV {
	display: inline-block;
	vertical-align: top;
    width: 42%;
    margin-right: 7%;
    margin-bottom: 3vw;
}

#cardpoolStudy .personas H4 {
	font-weight: bold;
	font-size: 1.1vw;
    font-family: 'Roboto Slab', serif;
	color: rgb(152,152,152);
	border-bottom: 2px solid rgb(222,222,222);
	padding: 0;
	margin: 0;
	margin-bottom: 1vw;
}

#cardpoolStudy .personas P {
	font-size: 0.9vw;
	line-height: 1.3vw;
	margin: 0px;
}

#cardpoolStudy .persona_icon {
    display: block;
	background-repeat: no-repeat;
    background-size: 16%;
    height: 3vw;
    padding-left: 21%;
    padding-top: 0.4vw;
}

#instagram {
	background-image: url('../cardpool/assets/persona_icon_instagram.png');
}

#snapchat {
	background-image: url('../cardpool/assets/persona_icon_snapchat.png');
}

#amazon {
	background-image: url('../cardpool/assets/persona_icon_amazon.png');
}

#pinterest {
	background-image: url('../cardpool/assets/persona_icon_pinterest.png');
}

#retailmenot {
	background-image: url('../cardpool/assets/persona_icon_retailmenot.png');
}

#groupon {
	background-image: url('../cardpool/assets/persona_icon_groupon.png');
}

#appMap {
	text-align: center;
}

#appMap IMG {
	display: inline-block;
    vertical-align: top;
    text-align: left;
    width: 45%;
    margin: 2%;
	border: 1px solid rgb(232,232,232);
}

.cardpoolPrototype {
	float: right;
	margin: 0 2vw 6vw 5vw;
	border: 0 !important;
}

.cardpoolPrototype IMG {
	width: 18.75vw;
	height: 33.35vw;
	border: 1px solid rgb(232,232,232) !important;
	box-sizing: border-box;
}

.cardpoolPrototype DIV {
	font-family: 'Arimo', serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	letter-spacing: initial;
	font-size: 1.4vw;
	font-weight: normal;
	text-align: center;
	margin-top: 0.6vw;
}

DIV.prototypeOverlay {
	width: 18.75vw;
	height: 33.35vw;
 	margin-top: -33.35vw;
	background-image: url('../cardpool/assets/cardpool_prototype_overlay.png');
	background-position: center;
	position: absolute;
	background-size: 140% 140%;
	opacity: 0;
    filter: alpha(opacity=0); /* For IE8 and earlier */
	transition: all 0.5s;
}

DIV.prototypeOverlay:hover {
	background-size: 100% 100%;
	opacity: 0.6;
    filter: alpha(opacity=0); /* For IE8 and earlier */
}






/* ======== */
/* Rotten Tomatoes */
/* ======== */







#rottenHeader {
	background-color: rgb(87, 150, 0); /* old/lame browser support */
	background: linear-gradient(to bottom, rgb(87, 150, 0) 0%, rgb(57, 121, 0) 60%);
}

#rottenHeader > DIV {
	margin-left: 80px;
	max-width: 900px;
	height: 300px;
	box-sizing: border-box;
	padding-top: 60px;
}

#rottenHeader .logo SPAN {
	display: block;
	height: 150px;
	margin: 0px;
	padding: 0px;
	font-size: 0px;
	background-image: url('logoRT.png');
	background-size: 420px;
	background-repeat: no-repeat;
	position: relative;
}

#rottenHeader .headerBG {
	height: 300px;
	width: 411px;
	float: right;
	margin-top: -300px;
	padding: 0px;
	background-image: url('../rotten_tomatoes/assets/rottenBG.png');
	background-repeat: no-repeat;
	background-size: 411px;
}

#rottenHeader H1 {
	color: yellow;
	text-shadow: 0 3px 0 rgba(0, 0, 0, 1);
	font-weight: normal;
}

#rottenStudy {
	max-width: 900px;
	padding: 0px 80px;
	margin: 0px auto;
}

#rottenStudy H2 {
	color: rgb(57, 121, 0);
}

#rottenStudy .pointer {
	width: 100%;
}

#rottenStudy .pointer > DIV {
	margin-left: -5px;
}

#rottenStudy .pointer .arrow {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 50px 50px 0 50px;
	border-color: transparent;
	-webkit-transform: rotate(360deg);
	border-top-color: rgb(57, 121, 0);
}

#rottenStudy A {
	color: rgb(116, 116, 116);
}

#rottenStudy A SPAN {
	border-bottom: 1px dotted rgb(87, 150, 0);
}

#scatterplot {
	float: right;
	margin: 0 2vw 60px 60px;
	border: 0 !important;
}

#scatterplot IMG {
	width: 360px;
	border: 1px solid rgb(232,232,232) !important;
	box-sizing: border-box;
	transform-origin: 81% 0%;
}

#rottenScreenshots {
	display: block;
	width: 80vw;
	height: 49.9vw;
	max-width: 900px;
	max-height: 562px;
	margin: 5vw auto 0 auto;
	border: 1px solid rgb(232,232,232);
}

#rottenScreenshots > DIV {
	height: 49.9vw;
	max-height: 562px;
	background-size: 100%;
}

#rottenScreenshots > DIV:first-child {
	background-image: url('../rotten_tomatoes/assets/app_screenshot1.png');
	transition: background-size 500ms ease-out, background-position 500ms ease-out;
}

#rottenScreenshots > DIV:last-child {
	position: relative;
	top: -100%;
	background-image: url('../rotten_tomatoes/assets/app_screenshot2.png');
	background-position: 0 0;
	opacity: 0;
	transition: opacity 500ms linear, background-size 500ms ease-out, background-position 500ms ease-out;
}







/* ======== */
/* Cardpool */
/* ======== */






#couchsurfingHeader {
	background-color: rgb(208, 83, 0);
}

#couchsurfingHeader > DIV {
	margin-left: 80px;
	max-width: 900px;
	height: 300px;
	box-sizing: border-box;
	padding-top: 60px;
}

#couchsurfingHeader H1 {
	font-weight: normal;
}

#couchsurfingHeader .logo SPAN {
	display: block;
	height: 150px;
	margin: 0px;
	padding: 0px;
	font-size: 0px;
	background-image: url('logoCouch.png');
	background-size: 420px;
	background-repeat: no-repeat;
	position: relative;
}

#couchsurfingStudy {
	max-width: 900px;
	padding: 0px 80px;
	margin: 0px auto;
}

#couchsurfingStudy H2 {
	color: rgb(208, 83, 0);
}

#couchsurfingStudy .pointer {
	width: 100%;
}

#couchsurfingStudy .pointer > DIV {
	margin-left: -5px;
}

#couchsurfingStudy .pointer .arrow {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 50px 50px 0 50px;
	border-color: transparent;
	-webkit-transform: rotate(360deg);
	border-top-color: rgb(208, 83, 0);
}

#couchsurfingStudy A {
	color: rgb(116, 116, 116);
}

#couchsurfingStudy A SPAN {
	border-bottom: 1px dotted rgb(208, 83, 0);
}

.couchDonutChart {
	padding: 2vw;
	float: right;
	margin-left: 4vw;
	background: rgb(252,252,252);
	transform-origin: 100% 30%;
}

.couchDonutChart DIV {
    box-sizing: border-box;
}

.couchDonutChart .donutBG {
	position: relative;
	border-radius: 50%;
	overflow: hidden;
	width: 18vw;
	height: 18vw;
	background: rgb(208, 83, 0); /* orange */
}

.couchDonutChart .slice {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.couchDonutChart .slice.topLeft {
	width: 9vw;
	height: 9vw;
	background: rgb(228, 228, 228);
	transform: rotate(0deg);
}

.couchDonutChart .slice.bottomLeft {
	clip: rect(0 9vw 9vw 0);
	background: rgb(228, 228, 228);
	transform: rotate(348deg);
}

.couchDonutChart .donutCenter {
	position: absolute;
	border-radius: 50%;
	top: 1.5vw;
	left: 1.5vw;
	width: 15vw;
	height: 15vw;
	background: rgb(252,252,252);
}

.couchDonutChart H2 {
	display: block;
	text-align: center;
	font-size: 5vw;
    margin-top: 4.2vw;
}

.couchDonutChart P {
	display: block;
	text-align: center;
	font-size: 1.1vw;
	line-height: initial;
	margin-top: 1.2vw;
	font-weight: normal;
}

.pdf {
	display: block;
	margin: 5vw auto 0 auto;
	border: 1px solid rgb(232,232,232);
}

#profilesPDF {
	width: 50vw;
	height: 50vw;
	background-size: 50vw 50vw;
	background-image: url('../couch/assets/profiles.png');
}

#hostingPDF {
	width: 50vw;
	height: 30vw;
	background-size: 50vw 30vw;
	background-image: url('../couch/assets/hosting.png');
}

#matchingPDF {
	width: 50vw;
	height: 37.5vw;
	background-size: 50vw 37.5vw;
	background-image: url('../couch/assets/matching.png');
}

#experiencesPDF {
	width: 50vw;
	height: 55.9vw;
	background-size: 50vw 55.9vw;
	background-image: url('../couch/assets/experiences.png');
}

.pdf > DIV {
	width: 50vw;
	height: 100%;
	padding: 2vw 2vw 0 0;
	box-sizing: border-box;
	background-color: rgba(0,0,0,0);
    transition: background-color 200ms linear;
    overflow: hidden;
}

.pdf:hover > DIV {
	background-color: rgba(0,0,0,.5);
}

.pdf > DIV > DIV {
	width: 20vw;
	height: 6vw;
	box-sizing: border-box;
	margin: 0 0 0 auto;
	padding-top: 0.9vw;
	border-radius: .5vw;
	text-align: center;
	font-family: 'Roboto Slab', serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 3vw;
	font-weight: normal;
	color: black;
	background-color: white;
	visibility: hidden;
}

.pdf:hover > DIV > DIV {
	visibility: visible;
	animation-name: animation;
    animation-duration: 1500ms;
}

.pdf SPAN {
	border: 0 !important;
}

.pdf:hover SPAN {
	animation-name: animationText;
	animation-duration: 350ms;
}







/* =========== */
/* Font Finder */
/* =========== */







#fontFinderHeader {
	background-color: hsl(0, 0%, 85%);
	background-image: url(study_fontFinder_headline_bg.png);
	background-size: 500px 300px;
	background-position: top right;
	background-repeat: no-repeat;
}

#fontFinderHeader > DIV {
	margin-left: 80px;
	max-width: 900px;
	height: 300px;
	box-sizing: border-box;
	padding-top: 60px;
}

#fontFinderHeader H1 {
	color: hsl(0, 100%, 50%);
	font-weight: normal;
}

#fontFinderHeader .logo SPAN {
	display: block;
	height: 150px;
	margin: 0px;
	padding: 0px;
	font-size: 0px;
	background-image: url('logoFontFinder.png');
	background-size: 420px;
	background-repeat: no-repeat;
	position: relative;
}

#fontFinderStudy {
	max-width: 900px;
	padding: 0px 80px;
	margin: 0px auto;
}

#fontFinderStudy .pointer {
	width: 100%;
}

#fontFinderStudy .pointer > DIV {
	margin-left: -5px;
}

#fontFinderStudy .pointer .arrow {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 50px 50px 0 50px;
	border-color: transparent;
	-webkit-transform: rotate(360deg);
	border-top-color: hsl(0, 0%, 85%); /* grey */
}

#fontFinderStudy H2 {
	color: hsl(0, 0%, 55%);
}

#fontFinderStudy P {
	color: hsl(0, 0%, 70%);
}

#fontFinderStudy A {
	color: black;
}

#fontFinderStudy A SPAN {
	border-bottom: 1px dotted black;
}

#fontFinderStudy #praise DIV {
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
}

#fontFinderStudy #praise DIV:nth-child(1) {
	width: 450px;
}

#fontFinderStudy #praise DIV:nth-child(2) {
	margin-top: 10px;
	width: 450px;
}

#fontFinderStudy #producthunt {
	display: block;
	width: 450px;
}

#fontFinderStudy #producthunt IMG {
	width: 450px;
	box-sizing: border-box;
	margin-bottom: 10px;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(225, 232, 237);
	border-radius: 4px;
}

#fontFinderStudy #producthunt:hover IMG {
	border-color: rgb(204, 214, 221);
}

#fontFinderStudy #producthunt SPAN {
	font-family: Arimo;
    font-weight: 400;
    font-size: 14px;
	color: hsl(0,0%,50%);
	padding-left: 15px;
}


/* Generated with Bounce.js. Edit at http://goo.gl/bkOekC */

@keyframes animation {
	 0.00% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -300, 0, 0, 1); }
	 1.30% { transform: matrix3d(3.905, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -237.02, 0, 0, 1); }
	 2.55% { transform: matrix3d(4.554, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -182.798, 0, 0, 1); }
	 4.10% { transform: matrix3d(4.025, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -125.912, 0, 0, 1); }
	 5.71% { transform: matrix3d(3.039, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -79.596, 0, 0, 1); }
	 8.11% { transform: matrix3d(1.82, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -31.647, 0, 0, 1); }
	 8.81% { transform: matrix3d(1.581, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -21.84, 0, 0, 1); }
	11.96% { transform: matrix3d(1.034, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 4.825, 0, 0, 1); }
	12.11% { transform: matrix3d(1.023, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 5.53, 0, 0, 1); }
	15.07% { transform: matrix3d(0.947, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 12.662, 0, 0, 1); }
	16.12% { transform: matrix3d(0.951, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 13.007, 0, 0, 1); }
	27.23% { transform: matrix3d(1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.352, 0, 0, 1); }
	27.58% { transform: matrix3d(1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.121, 0, 0, 1); }
	38.34% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.311, 0, 0, 1); }
	40.09% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.291, 0, 0, 1); }
	50.00% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.048, 0, 0, 1); }
	60.56% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.007, 0, 0, 1); }
	82.78% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
	100.0% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}

@keyframes animationText {
	  0.00% { opacity: 0; }
	 99.99% { opacity: 0; }
	100.00% { opacity: 1; }
}





/* ======== */
/* SMALLER SCREENS */
/* ======== */

@media all and (max-width: 748px) {

	.caseStudyFooter P.thanks {
		font-size: 9vw;
		padding: 11vw 0 5vw 0;
	}

	.caseStudyFooter P {
		font-size: 3vw;
	}

	.caseStudyFooter P A SPAN {
		border-bottom-width: 2px;
	}

	/* Cardpool */

	#cardpoolHeader .headerBG {
		background-position: calc(100% + 145px) -70px;
	}

	#appMap IMG {
		width: 60%;
	}

	.cardpoolPrototype IMG {
		width: 30vw;
		height: 53.36vw;
	}

	DIV.prototypeOverlay {
		width: 30vw;
		height: 53.36vw;
		margin-top: -53.36vw;
	}

	/* Rotten Tomatoes */

	#scatterplot {
		margin: 0 auto 60px auto;
	}

	#scatterplot  IMG {
		width: 100%;
		transform-origin: 50% 50%;
	}

	/* CouchSurfing */

	.couchDonutChart P {
		font-size: 1.4vw;
	}

	/* Font Finder */
	#fontFinderHeader {
		background-image: none;
	}

}

@media all and (max-width: 640px) {

	H1 {
		font-size: 25px;
	}

	H2 {
		font-size: 18px;
	}

	H3 {
		font-size: 12px;
	}

	P, UL {
		font-size: 15px;
	}

	.pointer {
		margin-top: -0.5px; /* attempt to fix Firefox mobile rendering issue */
	}

	/* Cardpool */

	#cardpoolHeader .headerBG {
		background-position: calc(100% + 30px) 40px;
		background-size: 370px;
		height: 370px;
	}

	#cardpoolHeader > DIV {
		height: 210px;
		padding-top: 30px;
	}

	#cardpoolHeader .logo SPAN {
		height: 85px;
		background-size: 250px;
	}

	#cardpoolStudy .pointer .arrow {
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 40px 40px 0 40px;
	}

	#cardpoolStudy A SPAN {
		border-bottom-width: 2px;
	}

	#cardpoolStudy .persona_page {
		width: 75%;
		margin: 5% 5% 0% 5%;
	}

	#cardpoolStudy .persona_header {
		height: 9.2vw;
	}

	#cardpoolStudy .persona_header DIV {
	    font-size: 4vw;
	    margin-top: 1.8vw;
	}

	#cardpoolStudy .persona_content {
		padding-left: 9%;
		padding-top: 11vw;
	}

	#cardpoolStudy .persona_content > DIV {
	    margin-bottom: 5vw;
	}

	#cardpoolStudy .personas H4 {
		font-size: 2vw;
	}

	#cardpoolStudy .personas P {
		font-size: 1.8vw;
		line-height: 2.3vw;
	}

	#cardpoolStudy .persona_icon {
		padding: .6vw 0 .6vw 21%;
	}

	#appMap IMG {
		width: 75%;
	}

	.cardpoolPrototype {
		float: none;
		margin: 0 0 0 9vw;
	}

	.cardpoolPrototype IMG {
		width: 56vw;
		height: 99.63vw;
	}

	DIV.prototypeOverlay {
		width: 56vw;
		height: 99.63vw;
		margin: -99.63vw 0 0 9vw !important;
	}

	.cardpoolPrototype DIV {
		font-size: 2vw;
		margin-top: 2vw;
		margin-bottom: 8vw;
	}

	/*  Rotten Tomatoes */

	#rottenHeader > DIV {
		height: 250px;
		padding-top: 50px;
	}

	#rottenHeader .logo SPAN {
		height: 105px;
		background-size: 350px;
		padding-bottom: 35px;
	}

	#rottenHeader H1 {
		font-size: 30px;
	}
	/*  */

}














