/**/
/****/
/******/
/********/
/* additional minimum viable styles were loaded from the HTML file */

html,
body {
	font-family: 'Khula', 'Helvetica', sans-serif;
	font-weight: 300;
}

strong {
	font-weight: 600;
}

#loading {
	display: none;
}

#outer {
	/* overrides display:none from style in HTML */
	display: flex;
}

#nav {
	width: 280px;
	box-sizing: border-box;
}

#content {
	display: flex;
	flex-grow:  1;
	flex-direction: column;
	box-sizing: border-box;
}

a {
	font-weight: 600;
	text-decoration: none;
	transition: background-color 150ms linear, color 150ms linear;
}

/**/
/****/
/******/
/********/
/* nav pane */

#nav h1 {
	margin: 0;
}

#nav h1 a {
	margin: 0;
	padding: 0;
	font-weight: 800;
	font-size: 64px;
	line-height: 105%;
	letter-spacing: -1px;
}

#nav h1 span {
	padding: 0px 2px;
}

#nav h1 span:nth-child(1) {
	margin-left: 4px;
}

#nav h1 span:nth-child(2) {
	margin-left: 16px;
}

#nav h2 {
	margin: 0 0 40px 15px;
	font-size: 24px;
	font-weight: 300;
	line-height: 100%;
}

#nav h2 span {
	padding: 3px 6px;
}

#nav h3 {
	margin: 30px 0 0 0;
	font-weight: 300;
	font-size: 24px;
}

#nav ul,
#nav li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#nav > ul {
	transition: opacity 200ms 200ms linear;
}

.nav_item {
	position: relative;
	transition:
		left 600ms cubic-bezier(.02,.69,.22,1.4),
		opacity 300ms linear;
}

#nav_hubspot {
	transition-delay: 600ms;
}

#nav_sense {
	transition-delay: 650ms;
}

#nav_sense_2 {
	transition-delay: 700ms;
}

#nav_clover {
	transition-delay: 750ms;
}

#nav_siempo {
	transition-delay: 800ms;
}

#nav_cardpool {
	transition-delay: 850ms;
}

#nav_couchsurfing {
	transition-delay: 900ms;
}

#nav_about {
	transition-delay: 1300ms;
}

#nav_contact {
	transition-delay: 1500ms;
}

#nav a {
	display: inline-block;
    margin: 0 0 6px 22px;
	padding: 2px 12px 0px 12px;
	font-size: 16px;
	border-radius: 15px;
}

#nav a span {
	transition: color 100ms linear;
}

#nav a.selected {
	cursor: default;
}

#nav #nav_about a,
#nav #nav_contact a {
	background-color: hsl(0deg 0% 85%);
	color: hsl(0deg 0% 25%);
}

#nav #nav_hubspot a:hover,
#nav #nav_sense a:hover,
#nav #nav_sense_2 a:hover,
#nav #nav_clover a:hover,
#nav #nav_siempo a:hover,
#nav #nav_cardpool a:hover,
#nav #nav_couchsurfing a:hover,
#nav #nav_about a:hover,
#nav #nav_contact a:hover {
	color: hsl(0deg 0% 24%);
}

/**/
/****/
/******/
/********/
/* content pane */

.go_to_start {
	float: right;
	margin: 50px 80px 0 0;
}

.page {
	flex-grow: 1;
	flex-shrink: 0;
	width: 1080px;
	padding-bottom: 60px;
	margin: 0 0 60px 0;
	border-radius: 20px;
	clear: both;
}

.page h1 {
	display: inline-block;
	margin: 20px 0 0 20px;
	padding: 10px 10px 0px 10px;
	border-radius: 10px;
	font-weight: 700;
	letter-spacing: -2px;
	font-size: 64px;
	line-height: 105%;
}

.page_description {
	display: inline-block;
	margin: -20px 0 20px 40px;
	padding: 6px 10px 2px 10px;
	border-radius: 10px;
	font-weight: 300;
	font-size: 20px;
}

.page h2 {
	margin: 0;
	padding: 20px 0px 10px 20px;
	font-size: 22px;
	font-weight: 600;
	clear: both;
}

.page h3 {
	margin: 0;
	padding: 20px 0px 10px 20px;
	font-size: 16px;
	font-weight: 800;
}

.page p {
	margin: 0;
	padding: 10px 80px 20px 20px;
	font-size: 16px;
	line-height: 180%;
	text-align: justify;
}

.page p.takeaway {
	padding: 0px 120px 60px 20px;
}

.page p.takeaway span {
	display: block;
	padding: 10px 20px;
	border-radius: 5px;
	line-height: 140%;
	text-align: left;
}

.page sup {
	line-height: 0%;
}

.float_box {
	float: right;
	max-width: initial; /* overrides hidden from minimal styles */
	max-height: initial; /* overrides hidden from minimal styles */
	margin: 10px 80px 40px 40px;
	box-sizing: border-box;
	border-radius: 10px;
	overflow: hidden;
	font-size: 0;
}

.float_box > img:nth-of-type(2) {
	opacity: 0;
	transition: opacity 250ms 0ms;
	height: 100%;
	background-size: 100%;
	border-radius: 10px;
	position: relative;
	top: calc(-100% - 2px);
}

.float_box:hover > img:nth-of-type(2){
	opacity: 1;
	transition: opacity 250ms 100ms;
}

/**/
/****/
/******/
/********/
/* Intro */

#intro {
	display: block; /* overrides hidden from minimal styles */
	padding-bottom: 0;
	box-sizing: border-box;
	border-radius: 0 0 20px 20px;
}

#intro > div {
	display: flex;
	justify-content: space-between;
	margin: 40px;
}

#intro a {
	display: block;
	flex-shrink: 1;
	min-width: 480px;
	height: 252px;
	margin-bottom: 40px;
	border: 1px solid hsl(0deg 0% 0% / 10%);
	border-radius: 10px;
	box-sizing: border-box;
	background-size: 480px;
	background-position: 0 0;
	box-shadow:
		inset hsl(0deg 0% 0% / 0%) 0 0 40px 0px;
	text-decoration: none;
	transition:
		box-shadow 250ms linear,
		background-size 250ms ease-out,
		background-position 250ms ease-out;
}

#intro a div {
	margin-top: 202px;
	padding: 10px;
	height: 40px;
	box-sizing: border-box;
	background-color: hsl(0deg 100% 100% / 20%);
	transition: background-color 250ms linear;
}

#intro a:hover div {
	background-color: hsl(0deg 100% 100% / 0%);
}

#intro a:hover {
	box-shadow:
		inset hsl(0deg 0% 0% / 40%) 0 0 40px 0px,
		white 0px 10px 0;
	background-size: 490px;
	background-position: -5px -5px;
}

#intro a span {
	font-size: 20px;
	font-weight: 300;
	line-height: 100%;
	color: white;
	text-shadow: hsl(0deg 0% 0% / 20%) 0px 4px 8px;
}

#intro #intro_sense div,
#intro #intro_sense_2 div,
#intro #intro_clover div,
#intro #intro_siempo div {
	margin-top: 16px;
}

#intro #intro_sense div,
#intro #intro_clover div,
#intro #intro_cardpool div {
	text-align: right;
}

#intro #intro_hubspot {
	min-width: 1000px;
	background-color: hsl(29, 100%, 72%);
	background-image: url('details_Hubs_intro.png');
	background-size: 100%;
}

#intro_sense {
	background-color: hsl(14deg 95% 23%);
	background-image: url('details_Sens_intro.png');
}

#intro_sense_2 {
	background-color: hsl(36deg 19% 50%);
	background-image: url('details_Sens_intro_2.png');
}

#intro_clover {
	background-color: hsl(169deg 67% 18%);
	background-image: url('details_ClVr_intro.png');
}

#intro_siempo {
	background-color: hsl(194deg 51% 48%);
	background-image: url('details_SiPo_intro.png');
}

#intro_cardpool {
	background-color: hsl(281deg 67% 18%);
	background-image: url('details_CaPo_intro.png');
}

#intro_couchsurfing {
	background-color: hsl(86deg 42% 37%);
	background-image: url('details_CoSu_intro.png');
}

/**/
/****/
/******/
/********/
/* Hubs */

#nav #nav_hubspot a {
	background-color: hsl(29, 100%, 81%);
}

#nav #nav_hubspot a,
#hubspot a,
#hubspot h1,
#hubspot h2,
#hubspot h3,
#hubspot .page_description {
	color: hsl(29, 100%, 29%);
}

#img_Hubs_design_1,
#img_Hubs_research_1,
#img_Hubs_research_2,
#img_Hubs_research_3,
#img_Hubs_research_4,
#img_Hubs_leadership_1,
#img_Hubs_leadership_2 {
	transition: transform 300ms ease-out;
}

#img_Hubs_design_1:hover,
#img_Hubs_research_1:hover,
#img_Hubs_research_2:hover,
#img_Hubs_research_3:hover,
#img_Hubs_research_4:hover,
#img_Hubs_leadership_1:hover,
#img_Hubs_leadership_2:hover {
	transform: scale(1.5);
}

#img_Hubs_design_2,
#img_Hubs_research_2 {
	float: left;
	margin: 10px 40px 40px 20px;
	transform-origin: left;
}

#img_Hubs_design_1 {
	width: 500px;
	height: 312px;
}

#img_Hubs_design_2 {
	width: 620px;
	height: 387px;
}

#img_Hubs_research_1,
#img_Hubs_research_2,
#img_Hubs_research_3,
#img_Hubs_research_4 {
	width: 480px;
	height: 270px;
}

#img_Hubs_leadership_1,
#img_Hubs_leadership_2 {
	width: 680px;
	height: 432px;
}

/**/
/****/
/******/
/********/
/* Sens */

#nav #nav_sense a {
	background-color: hsl(14deg 52% 82%);
}

#nav #nav_sense_2 a {
	background-color: hsl(36deg 20% 82%);
}

#nav #nav_sense a,
#sense a,
#sense h1,
#sense h2,
#sense h3,
#sense .page_description {
	color: hsl(14deg 52% 25%);
}

#nav #nav_sense_2 a,
#sense_2 a,
#sense_2 h1,
#sense_2 h2,
#sense_2 h3,
#sense_2 .page_description,
.page p.takeaway span {
	color: hsl(36deg 20% 35%);
}

#img_Sens_table,
#img_Sens_table > div {
	width: 720px;
	height: 450px;
}

#img_Sens_comps {
	width: 512px;
	height: 300px;
}

#img_Sens_colors {
	width: 297px;
	height: 210px;
}

#img_Sens_buttons {
	width: 600px;
	height: 242px;
}

#img_Sens_sliders {
	width: 665px;
	height: 330px;
}

#img_Sens_migration {
	width: 500px;
	height: 325px;
}

#img_Sens_flowchart,
#img_Sens_flowchart_2 {
	width: 540px;
	height: 518px;
}

#img_Sens_templates {
	width: 518px;
	height: 279px;
}

#img_Sens_organizer {
	width: 512px;
	height: 333px;
}

#img_Sens_scheduler {
	width: 518px;
	height: 450px;
}

#img_Sens_colors,
#img_Sens_migration,
#img_Sens_organizer,
#img_Sens_templates,
#img_Sens_sliders,
#img_Sens_flowchart,
#img_Sens_flowchart_2 {
	transition: transform 300ms ease-out;
}

#img_Sens_colors:hover,
#img_Sens_migration:hover,
#img_Sens_organizer:hover,
#img_Sens_templates:hover,
#img_Sens_sliders:hover,
#img_Sens_flowchart:hover,
#img_Sens_flowchart_2:hover {
	transform: scale(1.5);
}

#img_Sens_comps,
#img_Sens_scheduler {
	overflow: scroll;
	cursor: row-resize;
}

#img_Sens_comps img,
#img_Sens_scheduler img {
  transform: translateY(0);
  transition: transform 0.5s ease-in-out;
}

#img_Sens_comps:hover img,
#img_Sens_scheduler:hover img {
  transform: translateY(20px); /* Adjust the value for the desired scroll distance */
  animation: scroll-bump 500ms ease-in-out forwards;
}

@keyframes scroll-bump {
  0% { transform: translateY(0); }
  50% { transform: translateY(40px); }
  100% { transform: translateY(0); }
}

/**/
/****/
/******/
/********/
/* ClVr */

#nav #nav_clover a {
	background-color: hsl(169deg 40% 79%);
}

#nav #nav_clover a,
#clover a,
#clover h1,
#clover h2,
#clover h3,
#clover .page_description {
	color: hsl(169deg 40% 25%);
}

#img_ClVr_tasks,
#img_ClVr_tasks > div {
	width: 720px;
	height: 478px;
}

#img_ClVr_comparative {
	width: 400px;
	height: 233px;
}

#img_ClVr_prototype {
	width: 800px;
	height: 508px;
}

#img_ClVr_prototype video {
	width: 100%;
	height: 100%;
}

/**/
/****/
/******/
/********/
/* SiPo */

#nav #nav_siempo a {
	background-color: hsl(194deg 80% 88%);
}

#nav #nav_siempo a,
#siempo a,
#siempo h1,
#siempo h2,
#siempo h3,
#siempo .page_description {
	color:  hsl(194deg 80% 25%);
}

#img_SiPo_personas {
	width: 330px;
	height: 385px;
}

#img_SiPo_survey {
	width: 500px;
	height: 345px;
}

#img_SiPo_website {
	width: 450px;
	height: 450px;
	float: left;
	margin: 10px 40px 40px 20px;
}

#img_SiPo_website video {
	width: 100%;
	height: 100%;
}

#img_SiPo_triptych {
	width: 750px;
	height: 450px;
}

#img_SiPo_cardboard {
	width: 330px;
	height: 400px;
}

#img_SiPo_intentions {
	width: 375px;
	height: 667px;
}

#img_SiPo_intentions iframe {
	width: 375px;
	height: 667px;
	margin-top: -667px;
	border: none;
}

#img_SiPo_commercial {
	width: 375px;
	height: 668px;
	float: left;
	margin: 10px 50px 40px 20px;
}

#img_SiPo_commercial video {
	width: 100%;
	height: 100%;
}

/**/
/****/
/******/
/********/
/* CaPo */

#nav #nav_cardpool a {
	background-color: hsl(281deg 58% 89%);
}

#nav #nav_cardpool a,
#cardpool a,
#cardpool h1,
#cardpool h2,
#cardpool h3,
#cardpool .page_description {
	color: hsl(281deg 58% 25%);
}

#img_CaPo_phone_laptop_kiosk {
	width: 330px;
	height: 225px;
}

#img_CaPo_competition {
	width: 540px;
	height: 300px;
	overflow-y: scroll;
	overflow-x: hidden;
	cursor:  ns-resize;
}

#img_CaPo_competition img {
	width: 540px;
	height: 823px;
}

#img_CaPo_security {
	width: 330px;
	height: 180px;
}

#img_CaPo_app_map {
	width: 500px;
	height: 300px;
	overflow-y: scroll;
	overflow-x: hidden;
	cursor:  ns-resize;
}

#img_CaPo_app_map img {
	width: 500px;
	height: 586px;
}

#img_CaPo_slider {
	width: 375px;
	height: 667px;
}

#img_CaPo_forms {
	width: 550px;
	height: 400px;
	overflow-x: hidden;
	overflow-y: scroll;
	cursor:  ns-resize;
}

#img_CaPo_forms img {
	width: 550px;
	height: 800px;
}

#img_CaPo_marketing_personas {
	width: 330px;
	height: 405px;
}

#img_CaPo_desktop_inventory {
	width: 510px;
	height: 420px;
}

#img_CaPo_mobile_inventory {
	width: 750px;
	height: 395px;
}

/**/
/****/
/******/
/********/
/* CoSu */

#nav #nav_couchsurfing a {
	background-color: hsl(86deg 50% 84%);
}

#nav #nav_couchsurfing a,
#couchsurfing a,
#couchsurfing h1,
#couchsurfing h2,
#couchsurfing h3,
#couchsurfing .page_description {
	color: hsl(86deg 40% 25%);
}

#img_CoSu_matching_algo {
	width: 480px;
	height: 360px;
	transition: transform 300ms ease-out;
}

#img_CoSu_matching_algo:hover {
	transform: scale(1.5);
}

#img_CoSu_meetups {
	width: 480px;
	height: 360px;
	transition: transform 300ms ease-out;
}

#img_CoSu_meetups:hover {
	transform: scale(1.5);
}

#img_CoSu_search_results {
	width: 450px;
	height: 325px;
}

#img_CoSu_three_steps {
	width: 300px;
	height: 450px;
}

#img_CoSu_redesigned_results {
	width: 500px;
	height: 390px;
}

/**/
/****/
/******/
/********/
/* About */

#about p {
	padding-left: 50px;
}

#about .page_description {
	margin-bottom: 20px;
}

#about_icons {
	margin: 20px 0 20px 10px;
}

#about_icons a {
	display: inline-block;
	padding: 5px;
	margin-left: 10px;
	box-sizing: border-box;
	background-color: white;
	border-radius: 20px;
}

#face {
	margin: 60px;
	width: 300px;
	height: 300px;
	border-radius: 150px;
	overflow: hidden;
	border: 1px solid;
	box-sizing: border-box;
}

#face img {
	width: 100%;
	height: 100%;
}

/**/
/****/
/******/
/********/
/* Contact */

#contact {
	border-radius: 20px 20px 0 0;
	margin-bottom: 0;
}

#contact .page_description {
	margin-bottom: 20px;
}

#form_6516 {
	width: 580px;
	margin-left: 20px;
}

@media screen and (max-width: 1360px) {

	#outer {
		flex-direction: column;
	}

	#nav {
		width: 100%;
		height: initial;
	}

	#nav h1 span:nth-child(2) {
		margin-left: 0;
	}

	#nav h2 {
		margin-bottom: 0;
	}

	#nav ul {
		display: none;
	}

	.page {
		border-radius: 0;
	}

	.page p,
	.page h2,
	.page h3 {
		padding-left: 40px;
		padding-right: 40px;
	}

	.go_to_start {
		font-size: 24px;
	}

	.go_to_start,
	.float_box {
		margin-top: 34px;
		margin-right: 40px;
	}
}

/**/
/****/
/******/
/********/
/* Colors */

.page {
	background-color: hsl(0deg 0% 100%);
}

html,
body,
.page p.takeaway span,
#nav a.selected,
#nav a:hover {
	background-color: hsl(0deg 0% 96%) !important; /* yeah, sue me */
}

.float_box, #face {
	border-color: hsl(0deg 0% 90%);
}

#nav h1 a,
#nav h2,
#nav h3,
.page .go_to_start {
	color: hsl(0deg 0% 68%);
}

body,
.page h1,
.page h2,
.page h3,
.page_description {
	color: hsl(0deg 0% 24%);
}

.page h1 {
	background: linear-gradient(90deg,
		hsl(0deg 0% 96% / 100%) 0%,
		hsl(0deg 0% 96% / 0%) 70%);
}

.page_description {
	background: linear-gradient(90deg,
		hsl(0deg 0% 96% / 100%) 0%,
		hsl(0deg 0% 96% / 0%) 70%);
}

.page a,
.page h1,
.page .page_description {
	color: hsl(279deg 80% 28%);
}

#content a:hover,
#nav a.selected span,
#about_icons a:hover {
	color: hsl(279deg 10% 68%)
}