HTML, BODY {
	margin: 0;
	padding: 0;
	height: 100%;
}

A {
	text-decoration: none;
	color: black;
}

H1 {
	font-family: 'Roboto Slab', serif;
	letter-spacing: initial;
	margin: 0;
	padding: 0;
}

P {
	font-family: 'Arimo', Arial, Helvetica, sans-serif;
	letter-spacing: initial;
	margin: 0;
	padding: 0;
	display: inline;
}









/* ======== */
/* HEADER */
/* ======== */

#sectionHeader {
	padding-top: 36vh;
	padding-bottom: 36vh;
	overflow: hidden;
}

#sectionHeader P {
	color: rgb(158, 158, 158);
	padding: 0 25px 0 25px;
	margin: 0;
	display: block;
	overflow: hidden;
}

#sectionHeader P A {
	text-decoration: underline;
	color: rgb(158, 158, 158);
}

#sectionHeader P A:hover {
	text-decoration: none;
}

#sectionHeader P SPAN {
	position: relative;
	top: 25px;
}

.title {
	max-width: 1020px;
	width: 100%;
	margin: 0 auto 0 auto;
	text-align: center;
}

#logoHeader {
	font-size: 100px;
	padding-bottom: 0;
}

#logoHeader A {
	padding: 0;
	color: rgb(206, 206, 206);
}

#shardEditor {
	font-family: 'Roboto Slab', serif;
	font-size: 100px;
	letter-spacing: initial;
	color: rgb(206, 206, 206);
	text-align: center;
	width: 90%;
	margin: 0 auto;
	margin-bottom: -2px;
	border-radius: 10px;
	border: 0;
	box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
	display: none;
}

.shard {
	display: inline-block;
	position: relative;
	visibility: hidden;
	padding: 0;
	width: 100%;
}

.endShard {
	color: rgb(206, 206, 206);
	position: relative;
}

#shard_spacer {

}









/* ======== */
/* CASES STUDIES */
/* ======== */

#caseStudies {
	font-size: 0;
	overflow: hidden; /* Necessary for Firefox */
}

#caseStudies .column {
	width: 33.33%;
	height: 33vw;
	padding-top: 7vw;
	perspective: 60vw;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	box-sizing: border-box;
	transition: box-shadow 300ms ease-out;
}

#caseStudies .column:hover {
	box-shadow: inset 0 0 5vh 0vh rgba(0, 0, 0, 0.5);
}

.cube {
	transform-style: preserve-3d;
	transform: rotateX(-90deg);
}

.face {
	border-radius: 1vw;
	width: 65%;
	height: 20vw;
	margin: 0 auto;
}

.top {
	margin-bottom: -20vw;
	transform: rotateX(90deg) translateZ(10vw) translateY(0);
	background-color: white;
}

.bottom {
	transform: rotateX(-90deg) translateZ(10vw);
	background-color: white;
}

.front {
	text-decoration: none;
	margin-bottom: -20vw;
	transform: rotateY(0deg) translateZ(10vw);
	box-sizing: border-box;
	border: 1px solid transparent;
}

.front > DIV {
	padding-top: 3.8vw;
}

.front IMG {
	width: 75%;
	border: 0;
}

.front SPAN {
	display: block;
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	letter-spacing: initial;
	font-size: 2.5vw;
	color: white;
    margin: 1.5vw auto 0 auto;
}

.front SPAN SPAN {
	display: inline;
	border-bottom: 1px dotted white;
}

#c1, #c1 .front {
	background-color: hsl(336, 88%, 68%); /* cardpool pink */
}

#c2, #c2 .front {
	background-color: hsl(0, 0%, 24%); /* font grey */
}

#c3, #c3 .front {
	background-color: rgb(51, 153, 255); /* cardpool blue */
}

#c4, #c4 .front {
	background-color: rgb(208, 83, 0); /* couch orange */
}

#c5, #c5 .front {
	background-color: hsl(92, 100%, 24%); /* rotten green */
}

#c6, #c6 .front {
	background-color: hsl(271, 30%, 23%) /* haptic grey */
}

#c2 .front SPAN {
	color: red;
}

#c2 .front SPAN SPAN {
	border-bottom: 1px dotted red;
}

#c5 .front SPAN {
	color: yellow;
}

#c5 .front SPAN SPAN {
	border-bottom: 1px dotted yellow;
}

#c6 .front SPAN {
	color: hsla(0, 0%, 100%, 0.3);
}

#c6 .front SPAN SPAN {
	border-bottom: 1px dotted hsla(0, 0%, 100%, 0.3);
}

.pointer {
	font-size: 0;
	margin-bottom: -59px;
	position: relative;
	z-index: 1;
}

.pointer > DIV {
	display: inline-block;
	vertical-align: top;
	width: 50%;
}

.pointer .arrow {
	margin: 0;
	padding: 0 !important;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0px;
	border-top-width: 60px;
	border-color: transparent;
	-webkit-transform: rotate(360deg);
}

.pointer > DIV .arrow {
	margin: 0 0 0 auto;
	border-left-width: 70px;
	/*
	border-top-color: rgb(57, 121, 0);
	*/
}

.pointer > SPAN .arrow {
	border-right-width: 70px;
	/*
	border-top-color: rgb(57, 121, 0);
	 */
}

.pointer SPAN {
	display: inline-block;
	vertical-align: top;
	width: 50%
}







/* ======== */
/* SKILLS */
/* ======== */

#skills {
	background-color:white;
	text-align: center;
	color: rgb(130, 130, 130);
	font-size: 20px;
	margin: 20vh 5vw 0vh 5vw;
}

#skills .title {
	display: block;
    margin-top: 10vh;
    margin-bottom: 13vh;
    font-size: 45px;
    color: rgb(208, 208, 208);
}

#skills DIV {
	display: inline-block;
	vertical-align: top;
	width: 28vw;
	padding: 0vh 0 25vh 0vw;
	background-repeat: no-repeat;
	background-size: 40px;
	background-position: center 80px;
}

#skills DIV:nth-child(2n-1) {
	margin-left: 7vw;
}

#skills DIV:nth-child(2n) {
	margin-right: 7vw;
}

#skills P {
	font-family: 'Roboto Slab', serif;
}

#skills P BR {
	display: none;
}

#flow {
	background-image: url('skill_icon_flow.png');
}

#chart {
	background-image: url('skill_icon_chart.png');
}

#draw {
	background-image: url('skill_icon_draw.png');
}

#code {
	background-image: url('skill_icon_code.png');
}





/* ======== */
/* SIDE PROJECTS */
/* ======== */

#sideProjects {
	background-color: black;
	font-size: 0;
}

#sideProjects H1 {
	display: block;
	font-size: 6vh;
	color: rgb(190, 190, 190);
	text-align: center;
	position: relative;
    margin-bottom: -11vh;
    padding-top: 3vh;
}

#sideProjects .column {
	font-size: 2vw;
	color: rgb(216, 216, 216);
	width: 25%;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	box-sizing: border-box;
	padding: 17vh 0 8vh 0;
	transition: text-shadow 500ms ease-out;
	background-size: cover;
}

#sideProjects .column:hover {
	color: white;
	text-shadow: 0 0 2vw rgba(255, 255, 255, 1), 0 0 4vw rgba(255, 255, 255, 1), 0 0 5vw rgba(255, 255, 255, 1)
}

#sideProjects P {
	font-family: 'Roboto Slab', serif;
}

#illustration {
	background-image: url('sides_thumb_illustration.jpg')
}

#film {
	background-image: url('sides_thumb_film.jpg')
}

#photo {
	background-image: url('sides_thumb_photo.jpg')
}

#product {
	background-image: url('sides_thumb_product.jpg')
}








/* ======== */
/* FOOTER */
/* ======== */

.caseStudyFooter {
	text-align: center;
	padding: 2vw 0 14vw 0;
	color: rgb(133,133,133);
}

.caseStudyFooter A {
	color: rgb(133,133,133);
	font-weight: bold;
}

.thanks {
	font-family: 'Roboto Slab', serif;
	font-size: 52px;
	font-weight: normal;
	color: black;
	letter-spacing: initial;
	margin: 0;
	padding: 90px 0px 30px 0px;
}

.caseStudyFooter P {
	display: block;
}

.caseStudyFooter P A SPAN {
	color: black;
	border-bottom: 1px dotted rgb(133, 133, 133);
}

.caseStudyFooter .twitterLink:before {
	content: '\00A9';
	letter-spacing: 5px;
}

.caseStudyFooter .twitterLink:hover:before {
	content: '@';
	letter-spacing: initial;
}








/* ======== */
/* SMALLER SCREENS */
/* ======== */

@media all and (max-width: 748px) {

	/* HEADER */

	#logoHeader {
		font-size: 15vw;
	}

	#shardEditor {
		font-size: 15vw;
	}

	/* CASE STUDIES */


	#caseStudies .column {
		width: 50%;
		height: 50vw;
		padding-top: 10.6vw;
		perspective: 85vw;
	}

	.face {
		width: 60%;
		height: 30vw;
	}

	.top {
		margin-bottom: -30vw;
		transform: rotateX(90deg) translateZ(14.8vw) translateY(0);
	}

	.bottom {
		transform: rotateX(-90deg) translateZ(14.8vw);
	}

	.front {
		margin-bottom: -30vw;
		transform: rotateY(0deg) translateZ(14.8vw);
	}

	.front > DIV {
		padding-top: 7vw;
	}

	.front SPAN {
		font-size: 3vw;
	}

	.pointer {
		font-size: 0;
		margin-bottom: -8.9vw;
	}

	.pointer .arrow {
		border-top-width: 9vw;
	}

	.pointer > DIV .arrow {
		border-left-width: 10vw
	}

	.pointer > SPAN .arrow {
		border-right-width: 10vw;
	}

	/* SKILLS */

	#skills {
		font-size: 4vw;
		margin: 20vh 2vw 0 2vw;
	}

	#skills .title {
	    margin-top: 10vh;
	    margin-bottom: 10vh;
	    font-size: 6vw;
	}

	#skills DIV {
		width: 38vw;
		background-size: 8vw;
		background-position: center 15vw;
	}

	#skills DIV:nth-child(2n-1) {
		margin-left: 3vw;
	}

	#skills DIV:nth-child(2n) {
		margin-right: 3vw;
	}

	#skills P BR {
		display: inline;
	}

	/* SIDE PROJECTS */

	#sideProjects H1 {
		font-size: 6vw;
		padding-top: 1vh;
		margin-bottom: -8.2vh;
	}

	#sideProjects .column {
		font-size: 3vw;
		padding: 10vh 0 5vh 0;
	}

	/* FOOTER */

	.caseStudyFooter {
		padding: 0 0 30vw 0;
	}
	.caseStudyFooter P {
		font-size: 3vw;
	}

	.caseStudyFooter P A SPAN {
		border-bottom-width: 2px;
	}

	/*  */

}

@media all and (max-width: 640px) {

	/*  */

}














